@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<style>
        
    button{
        background-color: blue;
        color: white;
        border-block-color: white;
        border-color: white; 
    }

</style>

<p>Use this page to detail your site's privacy policy.</p>
<p>Prova di inserimento di un paragrafo on fly</p>

<p>Continuo a scrivere <strong>roba</strong></p>
<p>Ottimo anche con hot reload</p>

<button type="button" onclick="alert('CIAO BELLO')" >SALUTAMI</button>